@font-face {
    font-family: 'atlas'; /*a name to be used later*/
    src: url(./images/atlas/AtlasGrotesk-Regular.otf); /*URL to font*/
}

@font-face {
    font-family: 'atlaslight'; /*a name to be used later*/
    src: url(./images/atlas/AtlasGrotesk-Light.otf); /*URL to font*/
}

@font-face {
    font-family: 'atlasmedium'; /*a name to be used later*/
    src: url(./images/atlas/AtlasGrotesk-Medium.otf); /*URL to font*/
}



html, body {
    /*height: 100%;*/
}

html {
    /*display: table;*/
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-size: 1250px 700px;
    background-repeat: no-repeat;
    /*background-color:black;*/
    background-color:#13664D;
}

#pageWrap{
	position:relative;
	width:1250px;
	height:700px;
	z-index: 100;
}

#logoFront{
	position:absolute;
	top:20px;
	left: 20px;
	z-index:10;
}
#logo{
	width:350px;
}

#foulPole{
	position:absolute;
	top:0;
	margin-left:1000px;
	width:15px;
	height:700px;
	background-color:#EFDF32;
	z-index:9;	
}

#sideBanner{
	width:250px;
	height:700px;
	background-color:#13664D;
	margin-left:1015px;
	top:0;
	position:absolute;
	z-index:9;
}

#linkContainer{
	margin-top:70px;
}

#submitLink{
	position: static;
	color:#EFDF32;
	font-family:'atlasmedium';
	font-size:20px;
	margin-left:30px;
}

#submitLink:hover{
	color:#E0D12F;
	cursor: pointer;
}

#otherContainer{
	margin-top:50px;
}

#processLink{
	position: static;
	display: inline-block;
	color:white;
	font-family:'atlaslight';
	font-size:16px;
	margin-left:30px;
}

#processLink:hover{
	color:#EFEFEF;
	cursor: pointer;
}

#ponderLink{
	position: static;
	margin-top:20px;
	color:white;
	font-family:'atlaslight';
	font-size:16px;
	display: inline-block;
	margin-left:30px;
	margin-top:13px;
}

#ponderLink:hover{
	color:#EFEFEF;
	cursor: pointer;
}

#readsLink{
	position: static;
	color:white;
	font-family:'atlaslight';
	font-size:16px;
	display: inline-block;
	margin-left:30px;
	margin-top:13px;
}

#readsLink:hover{
	color:#EFEFEF;
	cursor: pointer;
}

#contactLink{
	position: static;
	color:white;
	font-family:'atlaslight';
	font-size:16px;
	display: inline-block;
	margin-left:30px;
	margin-top:13px;
}

#contactLink:hover{
	color:#EFEFEF;
	cursor: pointer;
}

#media{
	position:absolute;
	background-color:white;
	width: 1000px; 
	height: 700px;
	margin-top:0;
	margin-left:0;
	z-index: 9;
}

#movie{
	z-index:2;
	width: 1000px; 
	height: 700px;
}

#action{
	position:absolute;
	background-color:white;
	width: 1000px; 
	height: 700px;
	margin-top:0;
	margin-left:0;
	z-index:8;	
}

#actionCover{
	position:absolute;
	background-color:white;
	width: 1000px; 
	height: 700px;
	margin-top:0;
	margin-left:0;
	z-index:9;
	background-color: rgba(255, 255, 255, 0.5);	
}

#rights {
	position:absolute;
  font-family: 'Arvo', Georgia, Times, serif;
  color: #000000;
  display: block;
/*  margin-left: auto;
  margin-right: auto;*/
  height: 15px; 
  width: 1250px;
  margin-left:0px;
  margin-top:445px;
}

#copyright {
  font-family: 'Arvo', Georgia, Times, serif;
  margin-top: 0px;
  font-size: 9px;
  /*width:200px;*/
  /*padding: 0px;*/
  margin-left: 30px;
  position: absolute;
  color:white;
}

#cred {
  font-family: 'Arvo', Georgia, Times, serif;
  font-size:9px;
  /*width:170px;*/
  margin-top: 0px;
  margin-left: 880px;
  /*padding: 5px;*/
  position: absolute;
  color:white; 
  width:160px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('https://i.imgur.com/NcvYFtm.png') 50% 50% no-repeat #13664D;
}







